@import './variables.scss';




html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}
main,
li {
  display: block;
}
h1,
h2,
h3,
h4 {
  font-size: inherit;
}
strong {
  font-weight: bold;
}
a,
button {
  color: inherit;
  transition: 0.3s;
}
a {
  text-decoration: none;
}
button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border: 0;
}
:focus {
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

html {
  background-color: $white;
  font-family: 'Lato', sans-serif;
  font-display: auto;
  font-size: 10px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  // -webkit-transition: all 0.1s ease;
  // -moz-transition:    all 0.1s ease;
  // -ms-transition:     all 0.1s ease;
  // -o-transition:      all 0.1s ease;
}

* {
  background-repeat: no-repeat;
}

#root{
  width:100%;
  height:100%;
}

body {
  font-size: 1em;
  margin: 0;
  // width: 100vw;
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2em;
  letter-spacing: 0px;
  line-height: 58px;
  text-transform: uppercase;
  color: $white;
  font-weight:300;
  font-style: normal;
}

h2{
  font-size: 1.8em;
  letter-spacing: 2px;
  line-height: 24px;
  text-transform: none;
  color: $primary;
  font-weight:300;
  font-style: normal;
}

h3{
  font-size: 1.5em;
  letter-spacing: 2px;
  line-height: 24px;
  text-transform: none;
  color: #e60000;
  font-weight:300;
  font-style: normal;
}

p, a, li{
  font-size: 1em;
  letter-spacing: 2px;
  line-height: 36px;
  text-transform: none;
  color: $dark-grey;
  font-weight:300;
  font-style: normal;
}

@keyframes wave {
  100% {
    transform: rotate(20deg);
  }
}

.responsive,.container{
  width:100%;
  height:100%;
}


@media all and (min-width: 960px) {
    body{
        font-size: 18px;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 16px;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 12px;
    }

}
